{:aliases
 {:test
  {:extra-paths ["test"],
   :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}},
  :runner
  {:extra-deps
   {com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner",
     :sha "76568540e7f40268ad2b646110f237a60295fa3c"}},
   :main-opts ["-m" "cognitect.test-runner" "-d" "test"]},
  :dev {:extra-deps {criterium {:mvn/version "0.4.5"}}},
  :codox {:extra-deps {codox-theme-rdash {:mvn/version "0.1.2"}}}},
 :deps
 {org.clojure/clojure {:mvn/version "1.10.2-alpha2"},
  camel-snake-kebab {:mvn/version "0.4.0"},
  cnuernber/dtype-next {:mvn/version "6.00-beta-1"},
  techascent/tech.jna {:mvn/version "4.04"},
  org.clojure/data.json {:mvn/version "1.0.0"}}}
